.page-footer {
  padding: 60px 0;

  background-color: $bgPrimaryColor;
  text-align: center;
}

.page-footer__left {
  margin-bottom: 60px;
}

.page-footer__logo {
  margin-bottom: 20px;

  color: #ffffff;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  @include font(14px, 1.71, 0.03em);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--white {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__text {
  display: inline-block;
  margin-bottom: 20px;

  color: #ffffff;

  @include font(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;
}

.footer-form__label {
  display: inline-block;
  margin-bottom: 20px;

  color: #ffffff;

  @include font(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
  color: #ffffff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);

    @include font(16px, 1.25, 0.03em);
  }
}

.footer-form__btn {
  @extend %flex-align;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  background-color: $accentColor;

  @include font(16px, 1.87, 0.06em, 700);
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;

  fill: #ffffff;
}

// .page-footer__container {
//   display: flex;
// }

// .page-footer__left {
//   width: 231px;
//   margin-right: 70px;
// }

// .footer-social {
//   width: 206px;
// }

// .footer-form {
//   margin-left: auto;
// }

// .footer-form__container {
//   display: flex;
// }

// .footer-form__input {
//   width: 358px;
//   height: 50px;
//   padding: 15px 16px;
//   margin-right: 12px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   border-radius: 4px;

//   background-color: transparent;
//   color: #ffffff;
// }
