.page-header {
  border-bottom: 1px solid #ececec;

  background-color: #ffffff;
}

.page-header__items {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.page-header__logo {
  margin-right: 88px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
